<div class="container">
    <table class="highlight">
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Name</th>
                <th>Set Name</th>
                <th>Set Year</th>
                <th>Own?</th>
            </tr>
        </thead>

        <tbody>
            {{#each cards}}
            <tr>
                <td>{{this.cardnumber}}</td>
                <td>{{this.name}}</td>
                <td>{{this.setname}}</td>
                <td>{{this.cardyear}}</td>
                <td>
                    <form>
                        <label for={{this.id}}>
                            <input type="checkbox" class="filled-in" id={{this.id}} />
                            <span></span>
                        </label>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</div>

<br>
<div id="makePDF" class="container center-align">
    <a id="downloadPDF" class="waves-effect waves-light btn blue center-align"><i
            class="material-icons right">file_download</i>Download
        PDF</a>
</div>