<div class="container">
    <table class="highlight">
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Name</th>
                <th>Set Name</th>
                <th>Set Year</th>
                <th>Own?</th>
            </tr>
        </thead>

        <tbody>
            {{#each cards}}
            <tr>
                <td>{{this.cardnumber}}</td>
                <td>{{this.name}}</td>
                <td>{{this.setname}}</td>
                <td>{{this.cardyear}}</td>
                <td>
                    <form>
                        <label for={{this.id}}>
                            <input type="checkbox" class="filled-in" id={{this.id}} />
                            <span></span>
                        </label>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>